After-Hours Emergency Escalation B.json
{
    "name": "After-Hours Emergency Escalation B (copy)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1827532,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "First Service Emergency Escalation B"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 73333
            },
            "mapper": {
                "key": "{{1.incident_key}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 448,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "First_Service_Emergency_Escalation"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "event",
                        "type": "text",
                        "label": "Event",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "call",
                        "spec": [
                            {
                                "help": "",
                                "name": "call_id",
                                "type": "text",
                                "label": "Call ID",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "from_number",
                                "type": "text",
                                "label": "From number",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "to_number",
                                "type": "text",
                                "label": "To number",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "agent_id",
                                "type": "text",
                                "label": "Agent ID",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "direction",
                                "type": "text",
                                "label": "Direction",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "call_analysis",
                                "spec": [
                                    {
                                        "help": "",
                                        "name": "call_summary",
                                        "type": "text",
                                        "label": "Call summary",
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "custom_analysis_data",
                                        "spec": [
                                            {
                                                "help": "",
                                                "name": "caller_name",
                                                "type": "text",
                                                "label": "Caller name",
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "caller_phone",
                                                "type": "text",
                                                "label": "Caller phone",
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "caller_address",
                                                "type": "text",
                                                "label": "Caller address",
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "issue_summary",
                                                "type": "text",
                                                "label": "Issue summary",
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "issue_category",
                                                "type": "text",
                                                "label": "Issue category",
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "mentions_safety_risk",
                                                "type": "boolean",
                                                "label": "Mentions safety risk",
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "preferred_callback_window",
                                                "type": "text",
                                                "label": "Preferred callback window",
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "notes",
                                                "type": "text",
                                                "label": "Notes",
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "status",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Custom analysis data",
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "call_attempts",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "last_call_id_outgoing",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "retry_pending",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    }
                                ],
                                "type": "collection",
                                "label": "Call analysis",
                                "required": false
                            }
                        ],
                        "type": "collection",
                        "label": "Call",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 783,
                    "y": -2
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "CONTINUE",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.call.call_analysis.custom_analysis_data.status}}",
                                            "b": "Answered",
                                            "o": "text:notcontain"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{2.call.call_analysis.retry_pending}}",
                                            "b": "true",
                                            "o": "text:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{2.call.call_analysis.call_attempts}}",
                                            "b": "4",
                                            "o": "number:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "duration": "30"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1083,
                                    "y": -302
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "new_attempts",
                                "scope": "roundtrip",
                                "value": "{{parseNumber(ifempty(2.call.call_analysis.call_attempts; \"\")) + 1}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1347,
                                    "y": -304
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "new_attempts",
                                        "type": "any",
                                        "label": "new_attempts"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 73333
                            },
                            "mapper": {
                                "key": "{{1.incident_key}}",
                                "data": {
                                    "call": {
                                        "call_id": "",
                                        "agent_id": "",
                                        "direction": "",
                                        "to_number": "",
                                        "from_number": "",
                                        "call_analysis": {
                                            "call_summary": "",
                                            "call_attempts": "{{6.new_attempts}}",
                                            "retry_pending": "",
                                            "custom_analysis_data": {
                                                "notes": "",
                                                "status": "",
                                                "caller_name": "",
                                                "caller_phone": "",
                                                "issue_summary": "",
                                                "caller_address": "",
                                                "issue_category": "",
                                                "preferred_callback_window": ""
                                            },
                                            "last_call_id_outgoing": ""
                                        }
                                    },
                                    "event": ""
                                },
                                "upsert": false,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1601,
                                    "y": -311
                                },
                                "restore": {
                                    "expect": {
                                        "data": {
                                            "nested": {
                                                "call": {
                                                    "nested": {
                                                        "call_analysis": {
                                                            "nested": {
                                                                "custom_analysis_data": {
                                                                    "nested": {
                                                                        "mentions_safety_risk": {
                                                                            "mode": "chose"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "First_Service_Emergency_Escalation"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "event",
                                                "type": "text",
                                                "label": "Event"
                                            },
                                            {
                                                "name": "call",
                                                "spec": [
                                                    {
                                                        "name": "call_id",
                                                        "type": "text",
                                                        "label": "Call ID"
                                                    },
                                                    {
                                                        "name": "from_number",
                                                        "type": "text",
                                                        "label": "From number"
                                                    },
                                                    {
                                                        "name": "to_number",
                                                        "type": "text",
                                                        "label": "To number"
                                                    },
                                                    {
                                                        "name": "agent_id",
                                                        "type": "text",
                                                        "label": "Agent ID"
                                                    },
                                                    {
                                                        "name": "direction",
                                                        "type": "text",
                                                        "label": "Direction"
                                                    },
                                                    {
                                                        "name": "call_analysis",
                                                        "spec": [
                                                            {
                                                                "name": "call_summary",
                                                                "type": "text",
                                                                "label": "Call summary"
                                                            },
                                                            {
                                                                "name": "custom_analysis_data",
                                                                "spec": [
                                                                    {
                                                                        "name": "caller_name",
                                                                        "type": "text",
                                                                        "label": "Caller name"
                                                                    },
                                                                    {
                                                                        "name": "caller_phone",
                                                                        "type": "text",
                                                                        "label": "Caller phone"
                                                                    },
                                                                    {
                                                                        "name": "caller_address",
                                                                        "type": "text",
                                                                        "label": "Caller address"
                                                                    },
                                                                    {
                                                                        "name": "issue_summary",
                                                                        "type": "text",
                                                                        "label": "Issue summary"
                                                                    },
                                                                    {
                                                                        "name": "issue_category",
                                                                        "type": "text",
                                                                        "label": "Issue category"
                                                                    },
                                                                    {
                                                                        "name": "mentions_safety_risk",
                                                                        "type": "boolean",
                                                                        "label": "Mentions safety risk"
                                                                    },
                                                                    {
                                                                        "name": "preferred_callback_window",
                                                                        "type": "text",
                                                                        "label": "Preferred callback window"
                                                                    },
                                                                    {
                                                                        "name": "notes",
                                                                        "type": "text",
                                                                        "label": "Notes"
                                                                    },
                                                                    {
                                                                        "name": "status",
                                                                        "type": "text",
                                                                        "label": null
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Custom analysis data"
                                                            },
                                                            {
                                                                "name": "call_attempts",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "last_call_id_outgoing",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "retry_pending",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Call analysis"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Call"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "json:CreateJSON",
                            "version": 1,
                            "parameters": {
                                "type": 271063,
                                "space": ""
                            },
                            "mapper": {
                                "agent_id": "agent_fd36b5e777c467337cb9fe8b80",
                                "to_number": "+17014919488",
                                "from_number": "+19517449680",
                                "retell_llm_dynamic_variables": {
                                    "notes": "{{2.call.call_analysis.custom_analysis_data.notes}}",
                                    "caller_name": "{{2.call.call_analysis.custom_analysis_data.caller_name}}",
                                    "caller_phone": "{{2.call.call_analysis.custom_analysis_data.caller_phone}}",
                                    "issue_summary": "{{2.call.call_analysis.custom_analysis_data.issue_summary}}",
                                    "caller_address": "{{2.call.call_analysis.custom_analysis_data.caller_address}}",
                                    "intake_call_id": "{{1.incident_key}}",
                                    "issue_category": "{{2.call.call_analysis.custom_analysis_data.issue_category}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1836,
                                    "y": -314
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "Retell_HTTP_Module_Needed_Info (copy)"
                                        },
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure",
                                        "required": true
                                    },
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "agent_id",
                                        "type": "text",
                                        "label": "Agent ID"
                                    },
                                    {
                                        "name": "from_number",
                                        "type": "text",
                                        "label": "From number"
                                    },
                                    {
                                        "name": "to_number",
                                        "type": "text",
                                        "label": "To number"
                                    },
                                    {
                                        "name": "retell_llm_dynamic_variables",
                                        "spec": [
                                            {
                                                "name": "intake_call_id",
                                                "type": "text",
                                                "label": "Intake call ID"
                                            },
                                            {
                                                "name": "caller_name",
                                                "type": "text",
                                                "label": "Caller name"
                                            },
                                            {
                                                "name": "caller_phone",
                                                "type": "text",
                                                "label": "Caller phone"
                                            },
                                            {
                                                "name": "caller_address",
                                                "type": "text",
                                                "label": "Caller address"
                                            },
                                            {
                                                "name": "issue_summary",
                                                "type": "text",
                                                "label": "Issue summary"
                                            },
                                            {
                                                "name": "issue_category",
                                                "type": "text",
                                                "label": "Issue category"
                                            },
                                            {
                                                "name": "notes",
                                                "type": "text",
                                                "label": "Notes"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Retell llm dynamic variables"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://api.retellai.com/v2/create-phone-call",
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer key_97100c584b06c7e87343409059ab"
                                    },
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "jsonStringBodyContent": "{{10.json}}",
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2068,
                                    "y": -307
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                                        },
                                        "inputMethod": {
                                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials are required for the request."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "inputMethod",
                                        "type": "select",
                                        "label": "Body input method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "dataStructure",
                                                "jsonString"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "jsonStringBodyContent",
                                        "type": "text",
                                        "label": "Body content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 73333
                            },
                            "mapper": {
                                "key": "{{1.incident_key}}",
                                "data": {
                                    "call": {
                                        "call_id": "",
                                        "agent_id": "",
                                        "direction": "",
                                        "to_number": "",
                                        "from_number": "",
                                        "call_analysis": {
                                            "call_summary": "",
                                            "call_attempts": "",
                                            "retry_pending": "true",
                                            "custom_analysis_data": {
                                                "notes": "",
                                                "status": "",
                                                "caller_name": "",
                                                "caller_phone": "",
                                                "issue_summary": "",
                                                "caller_address": "",
                                                "issue_category": "",
                                                "preferred_callback_window": ""
                                            },
                                            "last_call_id_outgoing": "{{8.data.call_id}}"
                                        }
                                    },
                                    "event": ""
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2331,
                                    "y": -305
                                },
                                "restore": {
                                    "expect": {
                                        "data": {
                                            "nested": {
                                                "call": {
                                                    "nested": {
                                                        "call_analysis": {
                                                            "nested": {
                                                                "custom_analysis_data": {
                                                                    "nested": {
                                                                        "mentions_safety_risk": {
                                                                            "mode": "chose"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "First_Service_Emergency_Escalation"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "event",
                                                "type": "text",
                                                "label": "Event"
                                            },
                                            {
                                                "name": "call",
                                                "spec": [
                                                    {
                                                        "name": "call_id",
                                                        "type": "text",
                                                        "label": "Call ID"
                                                    },
                                                    {
                                                        "name": "from_number",
                                                        "type": "text",
                                                        "label": "From number"
                                                    },
                                                    {
                                                        "name": "to_number",
                                                        "type": "text",
                                                        "label": "To number"
                                                    },
                                                    {
                                                        "name": "agent_id",
                                                        "type": "text",
                                                        "label": "Agent ID"
                                                    },
                                                    {
                                                        "name": "direction",
                                                        "type": "text",
                                                        "label": "Direction"
                                                    },
                                                    {
                                                        "name": "call_analysis",
                                                        "spec": [
                                                            {
                                                                "name": "call_summary",
                                                                "type": "text",
                                                                "label": "Call summary"
                                                            },
                                                            {
                                                                "name": "custom_analysis_data",
                                                                "spec": [
                                                                    {
                                                                        "name": "caller_name",
                                                                        "type": "text",
                                                                        "label": "Caller name"
                                                                    },
                                                                    {
                                                                        "name": "caller_phone",
                                                                        "type": "text",
                                                                        "label": "Caller phone"
                                                                    },
                                                                    {
                                                                        "name": "caller_address",
                                                                        "type": "text",
                                                                        "label": "Caller address"
                                                                    },
                                                                    {
                                                                        "name": "issue_summary",
                                                                        "type": "text",
                                                                        "label": "Issue summary"
                                                                    },
                                                                    {
                                                                        "name": "issue_category",
                                                                        "type": "text",
                                                                        "label": "Issue category"
                                                                    },
                                                                    {
                                                                        "name": "mentions_safety_risk",
                                                                        "type": "boolean",
                                                                        "label": "Mentions safety risk"
                                                                    },
                                                                    {
                                                                        "name": "preferred_callback_window",
                                                                        "type": "text",
                                                                        "label": "Preferred callback window"
                                                                    },
                                                                    {
                                                                        "name": "notes",
                                                                        "type": "text",
                                                                        "label": "Notes"
                                                                    },
                                                                    {
                                                                        "name": "status",
                                                                        "type": "text",
                                                                        "label": null
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Custom analysis data"
                                                            },
                                                            {
                                                                "name": "call_attempts",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "last_call_id_outgoing",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "retry_pending",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Call analysis"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Call"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": null,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "STOP",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.call.call_analysis.custom_analysis_data.status}}",
                                            "b": "Answered",
                                            "o": "text:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{2.call.call_analysis.retry_pending}}",
                                            "b": "false",
                                            "o": "text:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{2.call.call_analysis.call_attempts}}",
                                            "b": "4",
                                            "o": "number:greaterorequal"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1081,
                                    "y": 5
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": [
            {
                "moduleIds": [
                    9
                ],
                "content": "<p>Record the outcome of the outbound call attempt</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    8
                ],
                "content": "<p>The scenario is configured to halt execution on HTTP errors to prevent silent failures.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    10
                ],
                "content": "<p>Construct the request payload required to initiate a new emergency outbound call via Retell AI.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    7
                ],
                "content": "<p>Persist the incremented call attempt count to the data store.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    6
                ],
                "content": "<p>Increment the call attempt counter for tracking and enforcement of retry limits.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    5
                ],
                "content": "<p>Introduce a controlled delay before re-attempting contact.</p><p>This avoids immediate repeated calls and provides time for prior attempts to complete.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    4
                ],
                "content": "<p>The router evaluates the retrieved call record and determines whether the scenario should continue retrying or terminate execution.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    2
                ],
                "content": "<p>Retrieve the previously stored intake call record in order to evaluate retry conditions.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    1
                ],
                "content": "<p>Initiates a retry evaluation cycle for a specific intake incident.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}